<?xml version="1.0"?>
<launch>
	<node pkg="wai_tello_driver" type="wai_tello_driver_node" name="wai_tello_driver_node" output="screen">
		<rosparam command="load" subst_value="true">
            F_NODE_SAMPLE_FREQUENCY: 20.0
            F_COMMAND_SCALE: 100.0
            F_COMMAND_KEYBOARD_SPEED: 0.6
        </rosparam>
	</node>
</launch>
